
/* ----------------------------- Top-Level Setup ---------------------------- */

.homescreenMain{
    position: absolute;
    top: 12%;
    left: 31%;
}

.modal-input {
    width: 75%;
    left: 10%;
}


.login-modal {
    width: 350px;
    text-align: center;
}

.signup-modal {
    width: 700px;
}

.modal-col-gap{
    column-gap: 45px;
}

.modal-button {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
}

.modal-spacer {
    height: 20px;
}

.modal-error {
    height: 24px;
    align-items: center;
    padding-top: 15px;
    padding-left: 160px;

}

.main-login-modal {
    padding: 24px 24px 0px 24px;
}

.map-select-container {
    position: absolute; 
    left: 400px;
    top: 200px; 
    right: 400px;
    
}

.map-select-side{
    width: 574px;
    overflow-y: scroll;
    height: 100%
}

.map-select-main{
    width: 450px;
    left: 300px;
    position: relative;
}

.create-map-button{
    width: 450px
}

.map-entries{
    text-align: center;
    padding: 15px;
}

.map-entries-button{
    font-weight: bolder;
    font-size: 25px;
    letter-spacing: 5px;
    width: 80%;
    justify-content: center;
    height: 100%;
    color: black;
}

.trash-icon-container {
    padding-top: 22px;
    padding-right: 30px;
    
}

.trash-icon:hover {
    color: white
}

.spreadsheet-container {
    height: 800px;
    width: 1600px;
    left: 112px;
    margin: auto;
    margin-top: 50px; 
    overflow-y: scroll;
}

.spreadsheet-info-header{
    height:5%;
    display: grid;
    grid-template-columns: 5% 35% 130px auto;
    color:white
}

.spreadsheet-table-header{
    height: 5%;
    display: grid;
    grid-template-columns: 20% 20% 20% 12% auto;
}

.spreadsheet-table-header-item {
    text-align: center;
    padding-top: 10px;
}

.spreadsheet-table-end{
    height: 4%;
    display: grid;
    grid-template-columns: 20% 20% 20% 12% auto;
}

.spreadsheet-table-end-item {
    text-align: center;
    padding-top: 6px;
    color: black;
    font-weight: bolder;
    font-size: 20px;
    border-right: black solid 3px;
}

.spreadsheet-table-entry {
    height: 4.5%;
    display: grid;
    grid-template-columns: 2% 18% 20% 20% 12% auto;
}

.spreadsheet-table-delete{
    padding-left: 5px;
    padding-top: 5px; 
    color: white;
}

.spreadsheet-table-delete:hover{
    color: red;
}


.region-add-icon {
    color: green;
    align-self: end;
}

.region-add-icon:hover {
    color: lighten($color:green, $amount: 20);
}

.region-undo-redo-icons {
    align-self: center;
}

.region-list{
    overflow-y: scroll;
}

.region-navigator{ 
    font-size: larger;
    font-weight: bolder; 
    font-size: 23px;
}

.region-viewer-landmarks{
    position: absolute;
    top: 150px; 
    left: 1100px; 
}

.landmarks-list-title{
    position: absolute;
    left: 195px;
    top: -28px;
    font-size: 24px;
    font-weight: bolder;
}

.region-viewer-picture{
    position: absolute;
    top: 150px; 
    left: 100px; 
    width: 600px;
    height: 350px;

}

.region-viewer-undo{
    position: absolute; 
    top: -40px; 
    color: white; 
}

.region-viewer-redo{
    position: absolute; 
    top: -40px; 
    left: 50px; 
    color: white; 
}

.region-viewer-info{
    position: absolute;
    top: 550px; 
    left: 100px; 
    width: 600px;
    height: 350px;
}

.region-viewer-info-entry{
    font-size: 26px; 
    font-weight: bolder;
    color: white; 
    margin-bottom: 40px;
}

.region-viewer-info-parentregion{
    font-size: 26px; 
    font-weight: bolder;
    color: white; 
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: 30% 60% 10%;
}

.undo-button-disabled{
    color: grey; 
}

.undo-button{
    color: white; 
    
}

.redo-button-disabled{
    color: grey;
}

.redo-button{
    color: white; 
}