
/* ----------------------------- Top-Level Setup ---------------------------- */

.homescreenMain{
    position: absolute;
    top: 12%;
    left: 31%;
}

.modal-input {
    width: 75%;
    left: 10%;
}


.login-modal {
    width: 350px;
}

.signup-modal {
    width: 700px;
}

.modal-col-gap{
    column-gap: 45px;
}

.modal-button {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
}

.modal-spacer {
    height: 20px;
}

.main-login-modal {
    padding: 24px 24px 0px 24px;
}




