
/* ----------------------------- Top-Level Setup ---------------------------- */

.homescreenMain{
    position: absolute;
    top: 12%;
    left: 31%;
}

.modal-input {
    width: 75%;
    left: 10%;
}


.login-modal {
    width: 350px;
}

.signup-modal {
    width: 700px;
}

.modal-col-gap{
    column-gap: 45px;
}

.modal-button {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
}

.modal-spacer {
    height: 20px;
}

.modal-error {
    height: 24px;
    align-items: center;
    padding-top: 15px;
    padding-left: 160px;

}

.main-login-modal {
    padding: 24px 24px 0px 24px;
}

.map-select-container {
    position: absolute; 
    left: 400px;
    top: 200px; 
    right: 400px;
    
}

.map-select-side{
    width: 574px;
    overflow-y: scroll;
    height: 100%
}

.map-select-main{
    width: 450px;
    left: 300px;
    position: relative;
}

.create-map-button{
    width: 450px
}

.map-entries{
    text-align: center;
    padding: 15px;
}

.map-entries-button{
    font-weight: bolder;
    font-size: 25px;
    letter-spacing: 5px;
    width: 80%;
    justify-content: center;
    height: 100%;
    color: black;
}

.trash-icon-container {
    padding-top: 22px;
    padding-right: 30px;
    
}

.trash-icon:hover {
    color: white
}

.spreadsheet-container {
    height: 800px;
    width: 1600px;
    left: 112px;
    margin: auto;
    margin-top: 50px; 
    overflow-y: scroll;
}

.spreadsheet-info-header{
    height:5%;
    display: grid;
    grid-template-columns: 5% 35% 130px auto;
    color:white
}

.spreadsheet-table-header{
    height: 5%;
    display: grid;
    grid-template-columns: 18% 18% 18% 18% auto;
}

.spreadsheet-table-header-item {
    text-align: center;
    padding-top: 10px;
}

.spreadsheet-table-end{
    height: 4%;
    display: grid;
    grid-template-columns: 18% 18% 18% 18% auto;
}

.spreadsheet-table-end-item {
    text-align: center;
    padding-top: 6px;
    color: black;
    font-weight: bolder;
    font-size: 20px;
    border-right: black solid 3px;
}

.spreadsheet-table-entry {
    height: 4.5%;
    display: grid;
    grid-template-columns: 18% 18% 18% 18% auto;
}


.region-add-icon {
    color: green;
    align-self: end;
}

.region-add-icon:hover {
    color: lighten($color:green, $amount: 20)
}

.region-undo-redo-icons {
    align-self: center;
}

.region-list{
    overflow-y: scroll;
}






